@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: #2f2e41;
	--primary: #00bfa6;
	--text: #c2c2c2;
}

body {
	min-height: 100vh;
	background-color: var(--background);
}

body,
a {
	color: #fff;
	text-decoration: none;
}

#page {
	margin: 0 auto;
	max-width: 1100px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	display: flex;
	gap: 65px;

	list-style: none;
}

nav ul li a {
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	font-family: "JetBrains Mono", monospace;
}

nav ul li a:hover {
	font-weight: 700;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 60px;

	text-align: center;
}

.content h1 > span,
.content p > span {
	color: var(--primary);
	font-weight: 700;
}

.content h1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	font-family: "JetBrains Mono", monospace;
}

.content div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.content p {
	color: var(--text);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
}

footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

footer #line {
	width: 570px;
	border: 1px solid var(--primary);
}

footer p {
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	font-family: "JetBrains Mono", monospace;
}

#padlock {
	left: 20px;
	bottom: 20px;
	position: fixed;
}
